{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>

    <div class="col-xs-0 col-sm-12 col-md-8 col-lg-8">

    <p>
      Pirate Cove
      <a href="detail-page.html">Diary Entries</a> 
      
      Coco Chanel once said “a woman who cuts her hair is about to change her life.” Given her success as both a
      designer and businesswoman, I don’t doubt she was onto something. However, I’d boldly venture to, instead,
      say “a woman who embraces the sea is about to change her life”. 

Like Captain Coco, Madam C.J. Walker, and countless other women who strived to redefine the male-dominated industry of piratism,
I strive to change the narrative of femme pirates everywhere! By reading my pirate diaries, you can stay up-to-date and abreast of all of my treasure hunts, adventures, and voyages to distant lands. You'll get to learn more about my pals Jake and Peter Pan.

So if it's a priate's life for you, yo ho ho and away we go!

ARGHHH!
    </p>
      <ul> 
      {% for entry in entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
     </ul>
    </div>
  </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
</div>
{% endblock %}
